# Xcode
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata

# Build products
build/
DerivedData/
*.app/Contents/MacOS/SFTPush.debug.dylib
*.app/Contents/MacOS/SFTPush
*.app/Contents/Resources/Assets.car
*.app/Contents/Resources/AppIcon.icns

# Swift Package Manager
.pacakages/
Build/
*.build/

# CocoaPods
Pods/

# Carthage
Carthage/

# macOS
.DS_Store

# Environment variables
.env
.env.local

# Logs
*.log

# Archives
*.zip
*.dmg

# Frameworks
*.framework/Versions/A/mft
*.framework/Versions/A/Resources/Info.plist
